/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;
}

h2,
.white {
    color: #fff;
}

a {
    color: #7A7C80;
    text-decoration: none;
}

/* section 1 */
.section-1 {
    padding-top: 40vh;
    text-align: center;
}

.section-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a {
    font-size: 1.5rem;
    padding: 10px;
}

/* section 2 */
.section-2 {
    padding-top: 10vh;
    width: 70%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 img {
    width: 100%;
    height: auto;
    max-width: 300px;
    /* adjust as needed */
}

/* media queries */
@media(max-width:780px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .section-1 {
        padding: 1rem;
    }

    .section-2 {
        padding: 1rem;
    }

    .section-1 h2,
    .section-2 h2 {
        font-size: 1.5rem;
    }

    .section-1 p,
    .section-2 p {
        font-size: 1rem;
    }

    .section-1 a,
    .section-2 a {
        font-size: 1.2rem;
    }

    .section-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}